
@{
	ViewData["Title"] = "TraditionalSpread";
}


<header id="header" style="margin-bottom: 50px">
	<a asp-controller="HarrowDeck" asp-action="TraditionalHand" class="logo"><strong>Alignment Based Harrow</strong></a>
</header>

