.div-link h3 {
	color: #000000;
	border-bottom: none
}

.div-link div {
	color: #000000;
	border-bottom: none
}

.div-link {
	border-bottom: none
}

.alignment {
	color: #f56a6a;
}

.sector {
	margin-bottom: 50px;
}

.margin {
	width: 90%;
	height: 90%;
	margin: 1%;
	padding: 4%;
}

.bright-green {
	border: 2px solid green;
	border-radius: 5px;
}

.light-green {
	border: 2px solid yellowgreen;
	border-radius: 5px;
}

.light-red {
	border: 2px solid red;
	border-radius: 5px;
}

.dark-red {
	border: 2px solid darkred;
	border-radius: 5px;
}