.div-link h3 {
	color: #000000;
	border-bottom: none
}

.div-link div {
	color: #000000;
	border-bottom: none
}

.div-link {
	border-bottom: none
}

.alignment {
	color: #f56a6a;
}

.sector {
	margin-bottom: 50px;
}